@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

$breakpoint-mobile: 320px;
$breakpoint-tablet: 640px;
$breakpoint-desktop: 1024px;
$breakpoint-bigScreen: 1400px;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

input,
select {
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  border: 0;
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}

textarea {
  outline: none !important;
}

.wrapper {
  width: 100%;
}

.headNavigation {
  margin-top: 80px;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.contentContainer {
  width: 100%;
  max-width: 600px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  margin: 80px auto 0;
  /*모바일*/
  @media only screen and (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-desktop}) {
    max-width: 100%;
    margin: 35px auto 0;
  }
  /*//모바일*/
  ul {
    display: block;
    /*모바일*/
    @media only screen and (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-desktop}) {
      display: block;
      align-items: center;
      justify-content: center;
    }
    /*//모바일*/
    li {
      width: 100%;
      font-size: 20px;
      margin-bottom: 35px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      input {
        width: 100%;
        font-size: 20px;
        padding-bottom: 15px;
        border-bottom: 5px solid #e9e9e9;
        transition: border-bottom 0.2s ease-in-out;
        &:focus {
          border-bottom: 5px solid #ccc;
        }
      }

      .dash{
        width: 20%;
        font-size: 20px;
        padding-bottom: 19px;
        border-bottom: 5px solid #e9e9e9;
        text-align: center;
      }

      .number{
        width: 60%;
      }

      .firstNumber{
        width: 100%;
      }

      .lastNumber{
        width: 100%;
        font-size: 20px;
        padding-bottom: 19px;
        border-bottom: 5px solid #e9e9e9;
        text-align: left;
      }

      select {
        width: 50%;
        font-size: 20px;
        padding-bottom: 16px;
        border-bottom: 5px solid #e9e9e9;
        transition: border-bottom 0.2s ease-in-out;
        background: url(../img/down_arrow_ico.svg) no-repeat top right 20px;
        &:focus {
          border-bottom: 5px solid #ccc;
        }
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }

      .verifyButton {
        width: 100%;
        padding: 30px 0;
        color: #2eb3d1;
        font-size: 15px;
        text-align: center;
        border: 2px solid #2eb3d1;
        box-sizing: border-box;
      }

      span{
        font-size: 15px;
      }

    }
  }
}

.checkBox{
  width: 30px!important;
  height: 30px;
  padding-bottom:0!important;
  border-radius: 30px!important;
  border: 2px solid #e9e9e9!important;
  margin-right: 20px;
  .active{
    background: #2eb3d1!important;
    border: 2px solid #2eb3d1!important;
  }
}

.button {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  background: #000;
  font-size: 15px;
  text-align: center;
  color: #fff;
  transition: background 0.2s ease-in-out;
  .inside {
    box-sizing: border-box;
  }
  &:hover {
    background: #2eb3d1;
  }
  /*모바일*/
  @media only screen and (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-desktop}) {
    padding: 0 20px;
    box-sizing: border-box;
    bottom: 30px;
    background: transparent;
    .inside {
      background: #000;
      padding: 15px 20px;
      -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
      transition: background 0.2s ease-in-out;
      &:hover {
        background: #2eb3d1;
      }
    }
    &:hover {
      background: transparent;
    }
  }
  /*//모바일*/
}
