@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

input,
select {
  border-radius: 0;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: none;
  border: 0;
  outline: none !important;
}

input:focus,
select:focus {
  outline: none !important;
}

textarea {
  outline: none !important;
}

.wrapper {
  width: 100%;
}

.headNavigation {
  margin-top: 80px;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.contentContainer {
  width: 100%;
  max-width: 600px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 80px auto 0;
  /*모바일*/
  /*//모바일*/
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .contentContainer {
    max-width: 100%;
    margin: 35px auto 0;
  }
}

.contentContainer ul {
  display: block;
  /*모바일*/
  /*//모바일*/
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .contentContainer ul {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contentContainer ul li {
  width: 100%;
  font-size: 20px;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contentContainer ul li input {
  width: 100%;
  font-size: 20px;
  padding-bottom: 15px;
  border-bottom: 5px solid #e9e9e9;
  -webkit-transition: border-bottom 0.2s ease-in-out;
  transition: border-bottom 0.2s ease-in-out;
}

.contentContainer ul li input:focus {
  border-bottom: 5px solid #ccc;
}

.contentContainer ul li .dash {
  width: 20%;
  font-size: 20px;
  padding-bottom: 19px;
  border-bottom: 5px solid #e9e9e9;
  text-align: center;
}

.contentContainer ul li .number {
  width: 60%;
}

.contentContainer ul li .firstNumber {
  width: 100%;
}

.contentContainer ul li .lastNumber {
  width: 100%;
  font-size: 20px;
  padding-bottom: 19px;
  border-bottom: 5px solid #e9e9e9;
  text-align: left;
}

.contentContainer ul li select {
  width: 50%;
  font-size: 20px;
  padding-bottom: 16px;
  border-bottom: 5px solid #e9e9e9;
  -webkit-transition: border-bottom 0.2s ease-in-out;
  transition: border-bottom 0.2s ease-in-out;
  background: url(../img/down_arrow_ico.svg) no-repeat top right 20px;
}

.contentContainer ul li select:focus {
  border-bottom: 5px solid #ccc;
}

.contentContainer ul li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.contentContainer ul li .verifyButton {
  width: 100%;
  padding: 30px 0;
  color: #2eb3d1;
  font-size: 15px;
  text-align: center;
  border: 2px solid #2eb3d1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contentContainer ul li span {
  font-size: 15px;
}

.checkBox {
  width: 30px !important;
  height: 30px;
  padding-bottom: 0 !important;
  border-radius: 30px !important;
  border: 2px solid #e9e9e9 !important;
  margin-right: 20px;
}

.checkBox .active {
  background: #2eb3d1 !important;
  border: 2px solid #2eb3d1 !important;
}

.button {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  background: #000;
  font-size: 15px;
  text-align: center;
  color: #fff;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  /*모바일*/
  /*//모바일*/
}

.button .inside {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button:hover {
  background: #2eb3d1;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .button {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    bottom: 30px;
    background: transparent;
  }
  .button .inside {
    background: #000;
    padding: 15px 20px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
  }
  .button .inside:hover {
    background: #2eb3d1;
  }
  .button:hover {
    background: transparent;
  }
}
/*# sourceMappingURL=style.css.map */