.pointColor1{
    color: #2EB3D1;
}

.pointColor2{
    color: #95C2CC;
}

.pointColor3{
    color: #FF6652;
}

.pointColor1Bg{
    background-color: #2EB3D1;
}

.pointColor2Bg{
    background-color: #95C2CC;
}

.pointColor3Bg{
    background-color: #FF6652;
}

.box-1{
    width: 100%;
}

.box-1_5{
    width: 75%!important;
}


.box-2{
    width: 50%;
}

.box-3{
    width: 33.3%;
}

.box-4{
    width: 25% !important;
}

.width5{
    width: 5%;
}

.width10{
    width: 10%;
}

.width12{
    width: 12%;
}

.width13{
    width: 13%;
}

.width14{
    width: 14%;
}

.width15{
    width: 15%;
}

.width17{
    width: 17%;
}

.width30{
    width: 30%;
}

.width47{
    width: 40%;
}

.width47{
    width: 47%;
}

.width50{
    width: 50%;
}

.width70{
    width: 70% !important;
}

.width100{
    width: 100%!important;
}

.width200{
    width: 200%!important;
}

.maxWidth1100{
    max-width: 1100px!important;
}

.alignItemsCenter{
    align-items: center;
}

.textAlignLeft{
    text-align: left!important;
}

.marginTop15{
    margin-top: 15px;
}

.marginTop30{
    margin-top: 30px !important;
}

.marginRight15{
    margin-right: 15px !important;
}

.marginRight30{
    margin-right: 30px;
}

.marginRight0{
    margin-right: 0!important;
}

.marginBottom15{
    margin-bottom: 15px;
}

.marginBottom20{
    margin-bottom: 20px;
}

.marginBottom30{
    margin-bottom: 30px;
}

.paddingHorizontal20{
    padding: 0 20px;
}

.table-divide-6{
    width: 16.6%;
}

.justifyContentFlexStart{
    justify-content: flex-start!important;
}

.fontSize16{
    font-size: 16px!important;
}

.box{
    box-shadow: 0px 10px 20px rgba(0,0,0,0.05);
}

.buttonPaddingVertical0{
    padding: 0 60px;
}