a .selected {
    color: #ffffff;
}

a {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

i {
    margin-right: 20px;
}

#selectBar {
    width: 100%;
}

.delFile {
    color: black;
}

.marginTop0 {
    margin-top: 0;
}

.width400{
    width: 400%!important;
}

.buttonAdd {
    width: 30%;
    box-sizing: border-box;
    border: 1px solid #000;
    color: #000;
    margin-right: 30px;
    transition: all 0.2s ease-in-out;
    border-radius: 50px;
    text-align: center;
}
.buttonAdd:hover {
    background: #2EB3D1;
    border: 1px solid #2EB3D1;
    color: #fff;
}
.buttonAdd label {
    width: 100%;
    display: block;
    padding: 20px 0;
}

.noticeContent {
    width: 100%;
    text-align: initial;
}

.sideMenuContainer .loginBox p {
    color: #ffffff;
    font-size: 15px;
}

.sideMenuContainer .loginBox p a{
    color: #ffffff;
    font-size: 15px;
}

.width10{
    width: 10%;
}

.width40{
    width: 40%;
}

.fixedList {
    background-color: rgba(46,179,209, 0.2);
}

.fixedList li {
    background-color: rgba(46,179,209, 0.0) !important;
}

.fixedList li i {
    margin: 0 0 0 0;
    font-size: 15px;
}

.centerInfoContainer ul li i {
    margin: 0 0 0 0;
    font-size: 15px;
}

.popup .checkBoxSection {
    padding-top: 15px;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.registerCheckBoxSection {
    padding-top: 15px;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.registerCheckBox {
    border: 1px solid #C5CBD4;
    width: 20px;
    height: 20px;
}

.registerCheckBox:checked {
    background: #2EB3D1;
}

.summerNote {
    text-align: initial;
}

.registerButtonBox {
    width: 100%;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    font-size: 13px;
    font-weight: 700;
}

.registerButtonBox .buttonAdd {
    margin: 0px;
}

.buttonCenter {
    width: 100% !important;
    justify-content: center !important;
}