@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  background: #f9fafc;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

select::-ms-expand {
  display: none;
}

a {
  text-decoration: none;
}

select {
  background: url("../img/down_arrow_ico.svg") no-repeat center right 20px;
}

select,
input {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
}

$point-color1: #2eb3d1;
$point-color2: #95c2cc;
$point-color3: #ff6652;
$gray: #c5cbd4;
$gray2: #666666;
$white: #ffffff;
$black: #000000;

.borderTopNone {
  border-top: none !important;
}

.borderBottomNone {
  border-bottom: none !important;
}

.borderLeftNone {
  border-left: none !important;
}

.borderNone {
  border: none !important;
}

.flexGrow3 {
  -ms-flex-positive: 3;
  flex-grow: 3;
}

.flexGrow5 {
  -ms-flex-positive: 5;
  flex-grow: 5;
}

.divider {
  width: 100%;
  height: 1px;
  background: $gray;
  margin-top: 30px;
}

.textBox {
  width: 100%;
  border: 1px solid $gray;
  padding: 20px;
  box-sizing: border-box;
  font-size: 15px;
}

.displayBlock {
  display: block !important;
}

.displayFlex {
  display: flex !important;
}

.wrapper {
  display: inline-flex;
  height: 100%;
}

.sideMenuContainer {
  position: relative;
  width: 280px;
  min-width: 220px;
  background-color: $point-color1;
  padding: 30px;
  margin: 30px 0 30px 30px;
  border-radius: 15px;
  min-height: 800px;
  .logo {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: $white;
    img {
      width: 100%;
      height: 100%;
      max-width: 36px;
      border-radius: 36px;
      overflow: hidden;
      background-color: $white;
    }
    .divider {
      width: 1px;
      height: 15px;
      margin: 0 15px;
      background: rgba(255, 255, 255, 0.5);
    }
  }
  ul {
    margin-top: 60px;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      font-size: 15px;
      color: rgba(255, 255, 255, 0.5);
      font-weight: 700;
      img {
        margin-right: 20px;
      }
      .selected {
        color: $white;
      }
    }
  }
  .subMenu {
    ul {
      margin-top: 0;
      padding-top: 25px;
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      li {
        margin-bottom: 0;
        padding-bottom: 20px;
        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
      .selected {
        color: $white;
      }
    }
  }
  .loginBox {
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    a {
      color: $white;
    }
  }
}

.mainContentContainer {
  width: 100%;
  height: auto;
  margin: 30px;
  .topContent {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .left {
      width: 50%;
      display: flex;
      align-items: center;
    }
    .right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .selectBox {
      font-size: 16px;
      font-weight: 700;
      width: auto;
      padding-right: 35px;
      height: 22px;
      background: url("../img/down_arrow_ico.svg") no-repeat center right;
    }
    .textBox {
      font-size: 12px;
      width: 130px;
      font-weight: 400;
      padding: 10px 15px;
      background: #e3e9ed url("../img/search_ico.svg") no-repeat center right 10px;
      border-radius: 35px;
    }
    .dateBox {
      display: flex;
      align-items: center;
      .date {
        margin: 0 10px;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .buttonSmall {
      width: 200px;
      padding: 15px 40px;
      box-sizing: border-box;
      border: 1px solid #000;
      color: #000;
      transition: all 0.2s ease-in-out;
      border-radius: 50px;
      text-align: center;
      font-size: 13px;
      font-weight: bold;
      &:hover {
        background: $point-color1;
        border: 1px solid $point-color1;
        color: #fff;
      }
    }
  }
  .headText {
    display: flex;
    margin-top: 30px;
    margin-bottom: 45px;
    width: 1100px;
    .left {
      width: 50%;
      font-size: 35px;
      font-weight: 700;
      display: flex;
      box-shadow: none;
      .detailBox {
        .sortingBox {
          margin: 20px 0;
          ul {
            display: flex;
            li {
              border: 1px solid #d4dadf;
              box-sizing: border-box;
              padding: 15px 10px;
              font-size: 12px;
              border-radius: 30px;
              font-weight: 700;
            }
          }
        }
        .moreInfo {
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
    .right {
      width: 50%;
      justify-content: flex-end;
      color: #8e8e95;
      font-size: 15px;
      display: flex;
      align-items: center;
    }
  }
  .dateContainer {
    ul {
      width: 1100px;
      display: flex;
      justify-content: space-between;
    }
    .box {
      background: #fff;
      padding: 30px;
      text-align: center;
      box-sizing: border-box;
      h1 {
        font-size: 25px;
        font-weight: 300;
        margin-top: 25px;
        margin-bottom: 15px;
      }
      p {
        font-size: 16px;
        font-weight: 700;
      }
      .headText {
        display: flex;
        margin: 0;
        width: 100%;
        .left {
          width: 50%;
        }
        .right {
          width: 50%;
          align-items: center;
          justify-content: flex-end;
          .option {
            display: flex;
            align-items: center;
            .dot {
              width: 12px;
              height: 12px;
              border-radius: 12px;
            }
            .text {
              font-size: 12px;
              font-weight: 700;
              color: #000;
              margin-left: 10px;
            }
          }
          p {
            color: #000;
            font-size: 25px;
            font-weight: 300;
          }
        }
      }
      .barGraphBox {
        width: 100%;
        .barGraph {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        h2 {
          font-size: 13px;
          font-weight: 700;
          text-align: left;
        }
        h3 {
          font-size: 15px;
          font-weight: 300;
          text-align: right;
        }
      }
    }
  }
}

.table {
  width: 100%;
  box-sizing: border-box;
  ul {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    li {
      font-weight: 400;
      font-size: 12px;
      text-align: center;
      padding: 18px 0;
      border-bottom: 1px solid $gray;
    }
    .head {
      font-size: 12px;
      font-weight: 700;
      border-bottom: 0;
    }
  }
}

/*팝업*/
.popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999999999;
  position: fixed;
  top: 0;
  .box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    .optionList {
      h1 {
        font-size: 16px;
        font-weight: 700;
      }
      p {
        font-size: 15px;
        text-align: center;
      }
      ul {
        display: flex;
        margin-top: 20px;
        li {
          width: 100px;
          padding: 15px 0;
          text-align: center;
          border: 1px solid #e3e9ed;
          border-radius: 30px;
          font-size: 16px;
          font-weight: 700;
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
        }
        .selected {
          background: $point-color1;
          border: 1px solid $point-color1;
          color: #fff;
        }
      }
    }
    .bookLogoBox {
      display: flex;
      justify-content: space-between;
      padding: 50px 50px;
    }
  }
  .agreementTextBox {
    font-size: 12px;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
  }
  .checkBoxSection {
    padding-top: 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    .checkBox {
      border: 1px solid $gray;
      width: 20px;
      height: 20px;
      &:checked {
        background: $point-color1;
      }
    }
  }
}
/*//팝업*/

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  margin-top: 50px;
  a {
    float: left;
  }
  .left {
    padding: 20px 60px;
    box-sizing: border-box;
    border: 1px solid #000;
    color: #000;
    margin-right: 30px;
    transition: all 0.2s ease-in-out;
    border-radius: 50px;
    &:hover {
      background: $point-color1;
      border: 1px solid $point-color1;
      color: #fff;
    }
  }
  .right {
    padding: 20px 60px;
    box-sizing: border-box;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    transition: all 0.2s ease-in-out;
    border-radius: 50px;
    &:hover {
      background: $point-color1;
      border: 1px solid $point-color1;
      color: #fff;
    }
  }
}

.buttonFull {
  width: 100%;
  padding: 20px 60px;
  box-sizing: border-box;
  border: 1px solid #000;
  color: #000;
  margin-right: 30px;
  transition: all 0.2s ease-in-out;
  border-radius: 50px;
  text-align: center;
  &:hover {
    background: $point-color1;
    border: 1px solid $point-color1;
    color: #fff;
  }
  label {
    width: 100%;
    display: block;
    padding: 20px 0;
  }
}

/*로그인*/
.loginSection {
  width: 100%;
  ul {
    display: flex;
    li {
      width: 50%;
      padding-right: 50px;
      box-sizing: border-box;
      h2 {
        font-size: 15px;
        padding-bottom: 15px;
        text-align: left;
      }
      &:last-child {
        margin-right: 0;
      }
      .textBox {
        width: 100%;
        border: 1px solid $gray;
        padding: 20px;
        box-sizing: border-box;
        font-size: 15px;
      }
    }
  }
  .findPasswordSection {
    font-size: 15px;
    margin-top: 30px;
    a {
      color: #000000;
      &:hover {
        color: $point-color1;
      }
    }
  }
}
/*//로그인*/

/*기관정보*/
.centerInfoContainer {
  width: 100%;
  max-width: 1100px;
  min-width: 1100px;
  .box {
    background: #fff;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
  }
  .pagination {
    font-size: 12px;
    padding-top: 30px;
    text-align: center;
    a {
      color: $black;
      text-decoration: underline;
    }
  }
  .buttonBox {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: 700;
    margin-top: 0px;
    a {
      color: $black;
      float: left;
    }
    .left {
      padding: 15px 2px;
      box-sizing: border-box;
      border: 1px solid #000;
      color: #000;
      margin-right: 30px;
      transition: all 0.2s ease-in-out;
      border-radius: 50px;
      float: left;
      width: 130px;
      &:hover {
        background: $point-color1;
        border: 1px solid $point-color1;
        color: #fff;
      }
    }
    .right {
      float: left;
      padding: 15px 20px;
      box-sizing: border-box;
      background: #000;
      border: 1px solid #000;
      color: #fff;
      transition: all 0.2s ease-in-out;
      border-radius: 50px;
      width: 130px;
      &:hover {
        background: $point-color1;
        border: 1px solid $point-color1;
        color: #fff;
      }
    }
  }
  ul {
    display: flex;
    border-bottom: 1px solid #ccc;
    .head {
      background: $gray2;
      color: $white;
      font-size: 12px;
      border-right: 1px solid #333;
      margin: 0;
      padding: 15px;
    }
    li {
      a {
        color: $black;
        text-decoration: underline;
        &:hover {
          color: $point-color1;
        }
      }
      .checkBox {
        border: 1px solid $gray;
        width: 20px;
        height: 20px;
        &:checked {
          background: $point-color1;
        }
      }
      display: flex;
      -ms-flex-positive: 1;
      align-items: center;
      padding: 0 15px;
      margin: 20px 0;
      justify-content: center;
      border-right: 1px solid #ccc;
      background: $white;
      font-size: 12px;
      flex-wrap: wrap;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 15px;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}
/*//기관정보*/

/*명부*/
.childrenListSortingBox {
  .buttonBox {
    font-size: 13px;
    font-weight: 700;
    margin-top: 0px;
    .left {
      padding: 15px 20px;
      box-sizing: border-box;
      border: 1px solid #000;
      color: #000;
      margin-right: 30px;
      transition: all 0.2s ease-in-out;
      border-radius: 50px;
      width: 130px;
      &:hover {
        background: $point-color1;
        border: 1px solid $point-color1;
        color: #fff;
      }
    }
    .right {
      width: 100%;
      padding: 15px 20px;
      box-sizing: border-box;
      background: #000;
      border: 1px solid #000;
      color: #fff;
      transition: all 0.2s ease-in-out;
      border-radius: 50px;
      width: 130px;
      &:hover {
        background: $point-color1;
        border: 1px solid $point-color1;
        color: #fff;
      }
    }
  }
  .selectBox {
    font-size: 16px;
    font-weight: 700;
    width: 160px;
    padding-right: 35px;
    height: 22px;
    background: url("../img/down_arrow_ico.svg") no-repeat center right;
  }
  .textBox {
    font-size: 12px;
    font-weight: 400;
    padding: 10px 15px;
    background: #e3e9ed url("../img/search_ico.svg") no-repeat center right 10px;
    border-radius: 35px;
  }
}
/*//명부*/

/*팝업*/
.popupAddChildren {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999999999;
  position: fixed;
  top: 0;
  .box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    .bookLogoBox {
      display: flex;
      justify-content: space-between;
      padding: 50px 50px;
    }
    .buttonFull {
      width: 100%;
      padding: 15px 40px;
      box-sizing: border-box;
      border: 1px solid #000;
      color: #000;
      margin-right: 30px;
      transition: all 0.2s ease-in-out;
      border-radius: 50px;
      text-align: center;
      &:hover {
        background: $point-color1;
        border: 1px solid $point-color1;
        color: #fff;
      }
    }
  }
  .agreementTextBox {
    font-size: 12px;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
  }
  .checkBoxSection {
    padding-top: 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    .checkBox {
      border: 1px solid $gray;
      width: 20px;
      height: 20px;
      &:checked {
        background: $point-color1;
      }
    }
  }
  .inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    display: none;
  }
  .childrenListContainer {
    height: 200px;
    overflow: scroll;
    ul {
      display: inline-flex;
      border-bottom: 1px solid #ccc;
      .head {
        background: $gray2;
        color: $white;
        font-size: 12px;
        border-right: 1px solid #333;
        margin: 0;
        padding: 15px;
      }
      li {
        a {
          color: $black;
          text-decoration: underline;
          &:hover {
            color: $point-color1;
          }
        }
        .checkBox {
          border: 1px solid $gray;
          width: 20px;
          height: 20px;
          &:checked {
            background: $point-color1;
          }
        }
        display: flex;
        align-items: center;
        width: 85.25px;
        padding: 0 15px;
        margin: 20px 0;
        justify-content: center;
        border-right: 1px solid #ccc;
        background: $white;
        font-size: 12px;
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  .confirmTeacherListContainer {
    height: 200px;
    overflow: scroll;
    ul {
      display: flex;
      border-bottom: 1px solid #ccc;
      .head {
        background: $gray2;
        color: $white;
        font-size: 12px;
        border-right: 1px solid #333;
        margin: 0;
        padding: 15px;
      }
      li {
        a {
          color: $black;
          text-decoration: underline;
          &:hover {
            color: $point-color1;
          }
        }
        .checkBox {
          border: 1px solid $gray;
          width: 20px;
          height: 20px;
          &:checked {
            background: $point-color1;
          }
        }
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 15px;
        margin: 20px 0;
        justify-content: center;
        border-right: 1px solid #ccc;
        background: $white;
        font-size: 12px;
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
/*//팝업*/

/*식단*/
.foodInfoContainer {
  width: 100%;
  .dateBox {
    display: flex;
    align-items: center;
    .date {
      margin: 0 10px;
      font-size: 16px;
      font-weight: 700;
    }
  }
  ul {
    display: inline-flex;
    border-bottom: 1px solid #ccc;
    .head {
      background: $gray2;
      color: $white;
      font-size: 12px;
      border-right: 1px solid #333;
      margin: 0;
      padding: 15px;
    }
    li {
      a {
        color: $black;
        text-decoration: underline;
        &:hover {
          color: $point-color1;
        }
      }
      .checkBox {
        border: 1px solid $gray;
        width: 20px;
        height: 20px;
        &:checked {
          background: $point-color1;
        }
      }
      display: flex;
      align-items: center;
      width: 85.25px;
      padding: 0 15px;
      margin: 20px 0;
      justify-content: center;
      border-right: 1px solid #ccc;
      background: $white;
      font-size: 12px;
      &:last-child {
        border-right: none;
      }
    }
  }
}
/*//식단*/

/*식단2*/
.foodInfoContainer2 {
  width: 100%;
  .dateBox {
    display: flex;
    align-items: center;
    .date {
      margin: 0 10px;
      font-size: 16px;
      font-weight: 700;
    }
  }
  ul {
    display: block;
    border-bottom: 1px solid #ccc;
    .head {
      background: $gray2;
      color: $white;
      font-size: 18px;
      border-right: 1px solid #333;
      margin: 0;
      padding: 15px;
    }
    li {
      a {
        color: $black;
        text-decoration: underline;
        &:hover {
          color: $point-color1;
        }
      }
      .checkBox {
        border: 1px solid $gray;
        width: 20px;
        height: 20px;
        &:checked {
          background: $point-color1;
        }
      }
      display: block;
      align-items: center;
      width: 100%;
      padding: 20px 15px;
      justify-content: center;
      border-right: 1px solid #ccc;
      text-align: center;
      background: $white;
      font-size: 12px;
      box-sizing: border-box;
      &:last-child {
        border-right: none;
      }
    }
  }
  .buttonBox {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: 700;
    margin-top: 0px;
    .left {
      padding: 15px 40px;
      box-sizing: border-box;
      border: 1px solid #000;
      color: #000;
      margin-right: 30px;
      transition: all 0.2s ease-in-out;
      border-radius: 50px;
      &:hover {
        background: $point-color1;
        border: 1px solid $point-color1;
        color: #fff;
      }
    }
    .right {
      padding: 15px 40px;
      box-sizing: border-box;
      background: #000;
      border: 1px solid #000;
      color: #fff;
      transition: all 0.2s ease-in-out;
      border-radius: 50px;
      &:hover {
        background: $point-color1;
        border: 1px solid $point-color1;
        color: #fff;
      }
    }
  }
  .extraInfo {
    font-size: 18px;
    margin: 30px auto;
    p {
      margin-bottom: 30px;
    }
  }
}
/*//식단2*/

/*식단 팝업*/
.popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999999999;
  position: fixed;
  top: 0;
  left: 0;
  .inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    display: none;
  }
  .box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    .optionList {
      h1 {
        font-size: 16px;
        font-weight: 700;
      }
      p {
        font-size: 15px;
        text-align: center;
      }
      ul {
        display: flex;
        margin-top: 20px;
        li {
          width: 100px;
          padding: 15px 0;
          text-align: center;
          border: 1px solid #e3e9ed;
          border-radius: 30px;
          font-size: 16px;
          font-weight: 700;
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
        }
        .selected {
          background: $point-color1;
          border: 1px solid $point-color1;
          color: #fff;
        }
      }
    }
    .bookLogoBox {
      display: flex;
      justify-content: space-between;
      padding: 50px 50px;
    }
  }
  .agreementTextBox {
    font-size: 12px;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
  }
  .checkBoxSection {
    padding-top: 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    .checkBox {
      border: 1px solid $gray;
      width: 20px;
      height: 20px;
      &:checked {
        background: $point-color1;
      }
    }
  }
}
/*//식단 팝업*/

/*식단*/
.foodInfoContainer {
  width: 100%;
  max-width: 1100px;
  .box {
    background: #fff;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
  }
  .pagination {
    font-size: 12px;
    padding-top: 30px;
    text-align: center;
    a {
      color: $black;
      text-decoration: underline;
    }
  }
  .buttonBox {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: 700;
    margin-top: 0px;
    a {
      color: $black;
    }
    .left {
      padding: 15px 40px;
      box-sizing: border-box;
      border: 1px solid #000;
      color: #000;
      margin-right: 30px;
      transition: all 0.2s ease-in-out;
      border-radius: 50px;
      &:hover {
        background: $point-color1;
        border: 1px solid $point-color1;
        color: #fff;
      }
    }
    .right {
      padding: 15px 40px;
      box-sizing: border-box;
      background: #000;
      border: 1px solid #000;
      color: #fff;
      transition: all 0.2s ease-in-out;
      border-radius: 50px;
      &:hover {
        background: $point-color1;
        border: 1px solid $point-color1;
        color: #fff;
      }
    }
  }
  ul {
    display: table;
    border-bottom: 1px solid #ccc;
    .head {
      background: $gray2;
      color: $white;
      font-size: 12px;
      border-right: 1px solid #333;
      margin: 0;
      padding: 15px;
    }
    li {
      a {
        color: $black;
        text-decoration: underline;
        &:hover {
          color: $point-color1;
        }
      }
      .checkBox {
        border: 1px solid $gray;
        width: 20px;
        height: 20px;
        &:checked {
          background: $point-color1;
        }
      }
      display: table-cell;
      align-items: flex-start;
      padding: 0 15px;
      margin: 20px 0;
      justify-content: center;
      border-right: 1px solid #ccc;
      background: $white;
      font-size: 12px;
      line-height: 20px;
      width: 100px;
      &:last-child {
        border-right: none;
      }
    }
  }
  table {
    width: 100%;
    tr {
      .head {
        background: $gray2;
        color: $white;
        font-size: 12px;
        border-right: 1px solid #333;
        margin: 0;
        padding: 15px;
      }
      .subHead {
        background: $gray;
        font-size: 12px;
        border-right: 1px solid #999;
        margin: 0;
        padding: 15px;
      }
      .side {
        vertical-align: middle;
        border-left: 1px solid #ccc;
      }
    }
    td {
      width: 12%;
      padding: 15px;
      margin: 20px 0;
      justify-content: center;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      background: $white;
      font-size: 12px;
      line-height: 20px;
      h1 {
        font-size: 15px;
        padding-bottom: 15px;
      }
      p {
      }
    }
  }
}
.foodInfo {
  width: 100%;
  ul {
    display: block;
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
    li {
      display: block;
      width: 100%;
      box-sizing: border-box;
      border-right: none;
      margin-bottom: 15px;
      margin-top: 0;
    }
  }
  h1 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
/*//식단*/

/*엑셀파일*/
.excelFileList {
  a {
    color: $black;
    text-decoration: underline;
  }
}
/*//엑셀파일*/

/*write page*/
.writePageBox {
  .inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    display: none;
  }
  .textArea {
    height: 150px;
  }
  .buttonFull label {
    padding: 0;
  }
  ul {
    display: flex;
    border-bottom: 1px solid #ccc;
    .head {
      background: $gray2;
      color: $white;
      font-size: 12px;
      border-right: 1px solid #333;
      margin: 0;
      padding: 15px;
    }
    li {
      a {
        color: $black;
        text-decoration: underline;
        &:hover {
          color: $point-color1;
        }
      }
      .checkBox {
        border: 1px solid $gray;
        width: 20px;
        height: 20px;
        &:checked {
          background: $point-color1;
        }
      }
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 20px 0;
      justify-content: center;
      border-right: none;
      background: $white;
      font-size: 12px;
      &:last-child {
        border-right: none;
      }
    }
  }
  .checkBoxSection {
    padding-top: 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    .checkBox {
      border: 1px solid $gray;
      width: 20px;
      height: 20px;
      &:checked {
        background: $point-color1;
      }
    }
  }
}
/*//write page*/
